

body{
margin:0;
padding: 0;

header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: red;
img{
    height:50px;
    width:50px;
}


}

.container{
display:flex;
flex-direction: column;
justify-content: flex-start;
text-align: left;
    

iframe{
width:560px;
    height:0;
}
.showIframe{

    height:350px;

}



}





}